body{
    margin: 0 100px;
    background-color: #F2FFE9;
}
.nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
}
.nav .logo h1{
    font-weight: 600;
    font-weight: 600;
    font-family: sans-serif;
    color: #000000;
}
.nav .logo b{
    color: #FA7070;
}
.nav ul{
    display: flex;
    list-style: none;
}

.nav ul li{
    margin-right: 30px;
}
.nav ul li a{
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-family: sans-serif;
    font-size: 17px;
}
.nav ul li a:hover{
    color: #FA7070;
}

/*active*/
.nav ul .active::after{
    content: '';
    width: 50%;
    height: 3px;
    background-color: #FA7070;
    display: flex;
    position: relative;
    margin-left: 10px;
}

button{
    padding: 10px 20px;
    cursor: pointer;
    font-weight: 600;
}


.login-btn{
    background-color: #FA7070;
    color: #ffffff;
    outline: none;
    border: none;
    border-radius: 5px;
}


.container{
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
    text-align: center;
}

.order-item {

    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: white;
    width: 50%;
    text-align: center;
    font-weight: 800;
    letter-spacing: 1px;



}


.delete-btn {
    background-color: #FA7070;
    color: #fff;
    padding: 10px 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    width: 40%;
}



.order-item {
    padding: 10px;
    margin: 10px;
    display: inline-block;
}

.order-item p {
    margin: 10px 0;
}

.itemss {
    font-weight: 600;
}

.order-item ul {
    list-style: none;
    padding: 0;
}

.order-item li {
    margin: 5px 0;
}

.delete-btn:hover{
    background-color: red;
}

::-webkit-scrollbar{
    width:10px;

}
::-webkit-scrollbar-thumb{
    border-radius: 20px;
    background-color: #FA7070;
}